.submitImg {
    width: 100%;
    height: 180px;
}
#initialPrompt{
    margin-top: 10px;
}
.cityBtn {
    width: 230px;
    height: 175px;
    font-size:24px;
    text-transform: capitalize;
    padding-top:8px;
}
#nav {
    height: auto;
}
.attribute{
    clear:both;

}

.submit {
    margin-top: 25px;
}

.attBtn {
    margin:5px;
}

#modal1 {
    width: 85%;
}

#map {
    position: absolute;
    height:400px;
    width: 300px;
}

.indexCity {
    position: relative;
}

.modal.modal-fixed-footer .modal-footer {
    position: fixed;
}

.waves-effect {
    margin: 5px;
    display: compact;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.graphModal {
    position: relative;
    float: right;
}

 .bubbleChart {
       min-width: 100px;
       max-width: 700px;
       height: 700px;
       margin: 0 auto;
     }
     .bubbleChart svg{
       /*background: #000000;*/
     }