/* slideshow */
.mySlides {
    display:none
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

img {
    height: 400px;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* slider end */

.submitImg {
    width: 100%;
    height: 180px;
}

#initialPrompt{
    margin-top: 10px;
}
.cityBtn {
    width: 230px;
    height: 175px;
    font-size:24px;
    text-transform: capitalize;
    padding-top:8px;
}
#cityListPara{
    margin: 20px 70px;
    font-size:25px;
    font-family: "roboto";

}

.slider {
    width: 900px;
}

#nav {
    height: auto;
}

#backbtn {
   border-radius: 0%;
    width: 100px;
    float: right;
    margin: 5px 15px 5px 5px;

}

#backAttr {
    display: none;
    width: 100px;
    float: right;
    margin-right: 10px;
}

.attribute{
    clear:both;
}

.section {
    padding-top: 10px;
}

.move {
    font-size: 40px;
    margin-top: 0;
}

.submit {
    margin-top: 25px;
}

.attBtn {
    margin:5px;
}

#mainBox1 {
    display: none;
    width: 90%;
    height: auto;
}

main {
    margin-top: 70px;
}

.btn-floating.btn-large {
    /*float: right;*/
}

.cityName {
    font-family: "Roboto", sans-serif;
    padding-top: 10px;
}

#map {
    height: 500px;
    width: 500px;
    float: left;
    margin: 20px;
    margin-left: 40px;
   
}

.cityPar {
    padding: 10px 90px;
    margin: 5px;
}

.indexCity {
    position: relative;
}

.modal.modal-fixed-footer .modal-footer {
    position: fixed;
}

.waves-effect {
    margin: 5px;
    display: compact;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.graphModal {
    position: relative;
    float: right;
}

.bubbleChart {
    width: 500px;
    height: 500px;
    /*margin: 0 auto;*/
    float: right;
    /*position: relative;*/
    margin-right: 20px;

 }
 .bubbleChart svg{
   /*background: #000000;*/
   padding: 0;
 }

@media screen and (max-width: 1175px) {
    #map {
        width: 450px;
        height: 450px;
    }

    .bubbleChart {
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 1080px) { 
    #map {
        width: 350px;
        height: 350px;
    }

    .bubbleChart {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 768px) { 
    #map {
        width: 310px;
        height: 310px;
        margin: 5%;
    }

    .bubbleChart {
        width: 310px;
        height: 310px;
        margin: 10px;
    }

    .cityPar {
        padding: 1% 5%;
    }
}


